* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 3rem;
}

.logo {
    width: 80px;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    display: flex;
    flex-direction: row; 
    align-items: center;
    text-align: center; 
}

.box-text {
    max-width: 800px;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3rem;
}

span {
    color: #017143;
    font-size: 3.5rem; 
    font-weight: 900;
}

p {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button {
    background-color: #017143;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

button:hover {
    transform: scale(1.2);
}

.box-img {
    width: 100%;
    max-width: 600px;
    margin-top: 2rem;
}

.big-cup {
    
    max-width: 280px;
    height: auto;
}

.container-little-cups {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1rem;
}

.little-cup {
    width: 40px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.little-cup:hover {
    transform: translateY(-15px);
}

.circle {
    background: #017143;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(500px at right 700px);
    z-index: -1;
}

@media screen and (max-width: 900px) {

    .container{
        flex-direction: column;
    }

    .big-cup {
        width: 100%;
        max-width: 160px;
    }

    .circle {
        display: none;
    }
}